html {
    font-size: 16px;

    /*@media only screen and (max-width:688px) {
        font-size: 20px;
    }*/
}

/* Tag styling */
body {
    background: #eaeaea;
    color: #606c76;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.2;
}

strong {
    font-weight: 600;
}

.soft {
    color: #bbb;
    font-weight: 300;
}

h2 {
    font-size: 1rem;
    font-weight: 800;
}

h3 {
    font-size: 0.875rem;
    margin-bottom: 0;
    font-weight: normal;
    padding: 0.5rem 0.75rem;
}

/* Reset default elements */
details summary {
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;
}

details > summary:first-of-type {
    list-style-type: none;
}

/* Main layout */
body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.search .container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


button {
    border-radius: 24px;
    background: none;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    gap: 0.5rem;
}

button:hover {
    background: rgba(0, 0, 0, 0.05);
}



.active {
    display: none;
}

.facets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    scrollbar-width: none;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.facet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
}

.facets .container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: auto;
}

.toggle button {

    width: 5rem;
    padding: 0.375rem 2rem;

    img {

        -webkit-filter: invert(30%) sepia(8%) saturate(1033%) hue-rotate(149deg) brightness(91%) contrast(83%);

        filter: invert(30%) sepia(8%) saturate(1033%) hue-rotate(149deg) brightness(91%) contrast(83%);
    }

    h3 {
        margin: 0;
        padding: 0;
        color: #606c76;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        letter-spacing: .01em;
        line-height: 1.2;
    }
}

/* Components */
.logo {
    margin-right: 1em;
}

.sort-by {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    flex-shrink: 0;

}

.ais-SortBy-select {
    position: relative;
    font-size: 0.875rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 10px 2px 10px 5px;
    vertical-align: middle;
    white-space: nowrap;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #606c76;
}

.ais-SortBy-option:after {
    display: block;
    z-index: 100;
    content: "▼";
    padding-left: 0.5rem;
    font-size: 0.375rem;
    color: #606c76;

}

.search-box {
    margin-right: 1em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.ais-SearchBox {
    position: relative;
    white-space: nowrap;
    font-size: 0.875rem;
    width: 100%;
    min-width: 12.5rem;
}

.ais-SearchBox-form {
    width: 100%;
    display: flex;
}

.ais-SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 0.5rem 2.5rem 0.5rem 2rem;
    vertical-align: middle;
    white-space: normal;
    height: 100%;
    width: 100%;
}

.ais-SearchBox-submit {
    position: absolute;
    left: 0.75rem;
    top: calc(50% - 18px/2);
}

.ais-SearchBox-submit:hover,
.ais-SearchBox-submit:focus-within {
    outline: 1px dotted;
}

.ais-SearchBox-submitIcon {
    fill: #bfc7d8;
    height: 18px;
    width: 18px;
}

.ais-SearchBox-reset {
    margin-left: -2.5rem;
    width: 2.5rem;
}

.ais-SearchBox-resetIcon {
    fill: #bfc7d8;
}

.stats {
    margin-right: 1em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 5rem;
    max-height: 1rem;
    overflow: hidden;
}

@media screen and (max-width: 530px) {
    .stats {
        display: none;
    }
}

.ref {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-top: 0.1875rem;
    display: none;
}

.ref:hover,
.ref:focus-within {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.ais-Hits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.hits:after {
    clear: both;
    content: "";
    display: table;
}

.ais-Hits-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    width: calc(100% - 32px);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Grid view styles */
.grid-view {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    summary .primary-info {
        display: none;
    }

    .game img {
        aspect-ratio: unset;
    }

    summary .game img {
        height: 8.75rem;
    }

    .modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal-wrapper img {
        position: absolute;
        top: 8px;
        left: -96px;
        width: 76px;
        box-shadow: unset;
    }

    .game-details {
        background: white;
        -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        max-width: 75vw;
        z-index: 5;
        padding: 0 40px 32px 116px;
        max-height: 90vh;
        overflow-y: scroll;

    }


    .primary-info {
        position: relative;
    }

    @media only screen and (max-width:600px) {
        .game-details {
            height: 100vh;
            width: 100vh;
            border-radius: 0;
            min-height: 100%;
        }

        .modal-wrapper {
            align-items: flex-start;
        }
    }

    .ais-Hits-item {
        background: none !important;
    }

    .ais-Hits-item:hover {
        summary .game img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 3;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25)
        }

    }
}


.no-scroll {
    overflow: hidden;
}

/* List view styles */
.list-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
}

.list-view .ais-Hits-item {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0px;
    border-radius: 6px;


    .game img {
        height: 100px;
        width: 100px;
        /*        border: 1px solid rgba(0, 0, 0, 0.2);*/
        aspect-ratio: 1;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }

    .game-wrapper {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;

    }

    .game {
        width: auto;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .game-details {
        display: none;
        padding: 0 0 16px 116px;
    }

    .modal-wrapper .primary-info {
        display: none;
    }

    .properties {
        margin: 0;
    }
}

.ais-Hits-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 6px;
}


.ais-Highlight-highlighted {
    background: #b71c1c;
    color: white;
}

.game-wrapper {
    position: relative;
}

.game {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 100%;
}



.game img {
    border-radius: 3px;
    background: #ffffff;
}

.game-details {
    padding: 16px;
}

.game-details .heading {
    padding: 4px 0 0 0;
    margin: 0;
}

.bottom-properties {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 8px;
}

.game-details .close {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.35em;
    pointer-events: all;
    position: absolute;
    right: -24px;
    top: 16px;
}

.game-details .close:hover {
    color: rgba(0, 0, 0, 0.75);
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.properties {
    border-collapse: collapse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0.5rem;
    margin: 16px 0;
}

.properties div {
    margin: 0 1em 0 0;
}

.properties .expansions {
    grid-column: 1 / 3;
}

.labels {
    margin-bottom: 4px;
    font-size: 0.75rem;
}

.properties .values {
    margin: 0;
    padding: 0;
}

.properties ul {
    margin: 0;
    padding: 0;
}

.properties li {
    list-style: none;
}

.bggLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;

    flex-wrap: wrap;

    a {
        color: steelblue;
        text-decoration: none;
        height: 1rem;
        padding: 4px 8px;
        border-radius: 12px;
        border: 1px solid steelblue;
    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    a:active {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
}

.description {
    line-height: 1.3;
}

.facets .heading {
    margin-top: 0;
}

.filter-control {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 16px;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;

    @media only screen and (max-width:688px) {
        flex-direction: column;
    }
}

.ais-ClearRefinements-button {
    color: #b71c1c;
    padding: 6px 12px;
    border: 1px solid #b71c1c;
    border-radius: 24px;
}

.ais-ClearRefinements-button:hover {
    background-color: rgba(183, 28, 28, 0.1);
}

.ais-ClearRefinements-button:active {
    background-color: rgba(183, 28, 28, 0.15);
}

.ais-ClearRefinements-button--disabled {
    display: none;
}

.ais-CurrentRefinements-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.ais-CurrentRefinements-item {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.ais-CurrentRefinements-label {
    display: flex;
    align-items: center;
}

.ais-CurrentRefinements-categoryLabel {
    padding-right: 4px;
    flex-shrink: 0;
}

.ais-CurrentRefinements-category {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    align-items: center;
    padding: 0 0 0 12px;
    background: #ffffff;
    flex-shrink: 0;
}

.ais-CurrentRefinements-delete {
    padding: 6px 10px;
    color: #b71c1c;
    border-radius: 24px;
}

.ais-CurrentRefinements-delete:hover {
    background-color: rgba(183, 28, 28, 0.1);
}

.facet {
    padding: 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
}

.facet:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.facet h3 {
    margin: 0;
}

.facet .ais-Panel-header {
    white-space: nowrap;
}


.facet .ais-Panel-header h3:after {
    content: "▼";
    padding-left: 8px;
    font-size: 0.375rem;
}

.facet .ais-Panel-body {
    background: #F8FAFC;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 200px;
    position: absolute;
    z-index: 1;
    display: none;
    border-radius: 6px;
    max-height: 50vh;
    overflow-y: auto;
}

#facet-players .ais-Panel-body {
    min-width: 17rem;
}

#facet-weight .ais-Panel-body {
    min-width: 12rem;
}

#facet-playing-time .ais-Panel-body {
    min-width: 10rem;
}

#facet-categories .ais-Panel-body {
    min-width: 13.5rem;
}

#facet-mechanics .ais-Panel-body {
    min-width: 18.5rem;
}

.facet:hover .ais-Panel-body {
    display: block;
}

.facet a {
    text-decoration: none;
}

.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
    margin-left: 0;
}

.facet label {
    color: #455459;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.125rem 0;
}

.ais-HierarchicalMenu-link,
.ais-RefinementList-link,
.ais-NumericMenu-link {
    line-height: 1.25rem;
}


.ais-HierarchicalMenu-item {
    padding: 0.5rem 1rem;

    a {
        color: #455459;
    }

}

.ais-RefinementList-label,
.ais-NumericMenu-link {
    padding: 0.5rem 0.5rem !important;
}

.ais-HierarchicalMenu-item--parent {
    padding: 0;
}

.ais-HierarchicalMenu-item--parent > div:first-of-type {
    display: flex;
    padding: 0.5rem 1rem;
}

.ais-HierarchicalMenu-item.ais-HierarchicalMenu-item--selected.ais-HierarchicalMenu-item--parent:hover {
    background: unset;
}

.ais-HierarchicalMenu-list--child .ais-HierarchicalMenu-item {
    padding: 0.5rem 2rem;
}

.ais-HierarchicalMenu-item:hover,
.ais-RefinementList-item:hover,
.ais-NumericMenu-item:hover,
.ais-HierarchicalMenu-item--parent > div:first-of-type:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.ais-HierarchicalMenu-item--selected,
.ais-RefinementList-item--selected,
.ais-NumericMenu-item--selected {
    font-weight: bold;
}

.ais-HierarchicalMenu-list--child {
    font-weight: normal;
}

.ais-HierarchicalMenu-count,
.ais-RefinementList-count,
.ais-NumericMenu-count {
    padding: 0 0.5em;
    margin-left: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.ais-RefinementList-showMore {
    color: gray;
    cursor: pointer;
    font-size: 0.8em;
    margin-left: 2.3em;
}

.ais-RefinementList-showMore:hover,
.ais-RefinementList-showMore:focus-within {
    outline: 1px dotted;
}

.ais-RefinementList-showMore:after {
    content: " »";
}

.ais-Pagination {
    margin: 1em 0 2em;
    display: none;
}

.ais-Pagination-item a,
.ais-Pagination-item span {
    padding: 5px 8px;
    margin-left: 5px;
    background: #efefef;
    border-radius: 10px;
    text-decoration: none;
}

.ais-Pagination-item--disabled a,
.ais-Pagination-item--disabled span {
    background: #fff;
    border: 1px #efefef solid;
}

.ais-Pagination-item--selected a {
    font-weight: bold;
    border: 2px solid #b71c1c;
}
